#InvestSolarEnergy {
    @apply container mx-auto;
}

#InvestSolarEnergy #title {
    @apply mb-16 w-max;
}

#InvestSolarEnergy h1 {
    font-family: var(--font-title);
    @apply text-5xl tracking-wide text-center bg-[#003156] px-4 py-1 text-white;
}

#InvestSolarEnergy h2 {
    font-family: var(--font-title);
    @apply text-4xl tracking-wide text-center text-[#0083FF];
}

#InvestSolarEnergy .CardWrapper {
    @apply grid  gap-10 py-14 xl:grid-cols-4 md:grid-cols-2;
}

#InvestSolarEnergy .CardWrapper .Card {
    @apply flex flex-col items-center justify-start gap-4 px-8 py-10 shadow-lg hover:scale-105 transition-all duration-200 bg-[#FFFFFF];
}

#InvestSolarEnergy .CardWrapper .Card h3 {
    font-family: var(--font-title);
    @apply text-2xl text-center bg-[#003156] px-4 py-1 text-white;
}

#InvestSolarEnergy .divider {
    @apply w-full h-[2px] bg-gradient-to-r from-[#61F4DE] to-[#6E78FF];
}

#InvestSolarEnergy .CardWrapper .Card p {
    font-family: var(--font-content);
    @apply text-justify text-lg;
}
