#ExecutiveProjects {
    @apply px-0;
}

#ExecutiveProjects.blue {
    @apply bg-[#061c2c];
}

#ExecutiveProjects h2 {
    font-family: var(--font-title);
    @apply text-4xl tracking-wide text-start text-[#0083FF] mb-7;
}

#ExecutiveProjects.blue h2 {
    font-family: var(--font-title);
    @apply text-[#29FF77];
}

#ExecutiveProjects .parts {
    @apply container mx-auto flex gap-10 flex-col md:flex-row px-10;
}

#ExecutiveProjects .parts div {
    @apply w-full;
}

#ExecutiveProjects .parts p {
    font-family: var(--font-content);
    @apply text-lg lg:text-xl xl:text-2xl text-justify;
}

#ExecutiveProjects.blue .parts p {
    @apply text-white;
}

#ExecutiveProjects img {
    @apply w-full md:w-[45%] lg:w-[40%] xl:w-[35%] object-cover;
}
