#home .swiper {
    @apply w-full flex justify-center h-[50vh] sm:h-[75vh];
}

#home .swiper-slide {
    @apply h-full;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#home .swiper-slide img {
    @apply w-full h-full object-cover brightness-110;
}

#home .swiper-slide .swiperContent {
    @apply w-full h-full flex flex-col justify-center items-center text-5xl absolute z-50;
}

#home .swiper-slide .swiperContent p {
    font-family: var(--font-title);
    @apply text-3xl md:text-5xl text-white bg-[#003156] p-2 px-4 shadow-lg;
}

section#home .divider {
    @apply w-full h-[3px] bg-gradient-to-l from-[#61F4DE] to-[#6E78FF];
}

section#home .divider1 {
    @apply w-full h-[3px] bg-gradient-to-r from-[#61F4DE] to-[#6E78FF];
}
